<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurumsal Mobil Uygulama -AndIos- Yönetici Ekrani</title>

    <% include ../css/lib-css/masterPageCss.js %>
</head>
<body>
    <header>
        <nav id="main-nav" class="blue-grey">
            <div class="row" style="margin-left:10px;">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <a href="<%=session.guncelSayfa%>" class="page-title"><%=session.sayfaEtiketi%> > <%=session.solMenuKategori%></a>
                <ul class="right">
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="user-dropdown"><i class="mdi-social-person"></i><i class="mdi-navigation-arrow-drop-down right"></i></a>
                    </li>
                </ul>
            </div>
            <ul id="user-dropdown" class="dropdown-content">
                <li><a href="#!">Hesabım</a></li>
                <li><a href="#!">Şifre Değiştir</a></li>
                <li class="divider"></li>
                <li><a href="/hesap/cikis">Çıkış</a></li>
            </ul>
        </nav>
        <ul id="slide-out" class="side-nav fixed">
            <li class="center-align black-text logo"><a>Mavikent Bilişim&trade;</a></li>
            <li class="<%if(session.solMenuKategori == 'Anasayfa'){%>active<%}%>">
                <a href="/sayfalar/anasayfa"><i class="mdi-action-dashboard left"></i>Anasayfa</a>
            </li>
            <li class="upsize">
                <a href="#"><i class="mdi-editor-attach-money left"></i>Kurumsal <i class="right mdi-hardware-keyboard-arrow-down"></i></a>
                <ul style="<%if(session.sayfaEtiketi == 'Kurumsal'){%>display:block;<%}else{%>display:none;<%}%>">
                  <li class="<%if(session.solMenuKategori == 'Hakkimizda'){%>active<%}%>"><a href="/sayfalar/hakkimizda">- Hakkımızda <i class="right mdi-hardware-keyboard-arrow-right"></i></a></li>
                  <li class="<%if(session.solMenuKategori == 'İcerik'){%>active<%}%>"><a href="/sayfalar/icerik">- İçerik <i class="right mdi-hardware-keyboard-arrow-right"></i></a></li>
                </ul>
            </li>
            <li class="<%if(session.sayfaEtiketi == 'Urunler'){%>active<%}%>"><a href="/sayfalar/urunler"><i class="mdi-social-people left"></i>Ürünler <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Hizmetler'){%>active<%}%>"><a href="/sayfalar/hizmetler"><i class="mdi-device-devices left"></i>Hizmetler <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Projeler'){%>active<%}%>"><a href="/sayfalar/projeler"><i class="mdi-social-domain left"></i>Projeler <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Uretim'){%>active<%}%>"><a href="/sayfalar/uretim"><i class="mdi-action-settings left"></i>Üretim <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Müsteri_Hizmetleri'){%>active<%}%>"><a href="/sayfalar/musteri_hizmetleri"><i class="mdi-action-settings left"></i>M. Hizmeti <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Satis_Noktalari'){%>active<%}%>"><a href="/sayfalar/satis_noktalari"><i class="mdi-action-settings left"></i>Satış Noktaları <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Fiyat_Listesi'){%>active<%}%>"><a href="/sayfalar/fiyat_listesi"><i class="mdi-action-settings left"></i>Fiyat Listesi <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Kariyer'){%>active<%}%>"><a href="/sayfalar/kariyer"><i class="mdi-action-settings left"></i>Kariyer <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Haberler'){%>active<%}%>"><a href="/sayfalar/haberler"><i class="mdi-action-settings left"></i>Haberler <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Etkinlikler'){%>active<%}%>"><a href="/sayfalar/etkinlikler"><i class="mdi-action-settings left"></i>Etkinlikler <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Duyurular'){%>active<%}%>"><a href="/sayfalar/duyurular"><i class="mdi-action-settings left"></i>Duyurular <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Iletisim'){%>active<%}%>"><a href="/sayfalar/iletisim"><i class="mdi-action-settings left"></i>İletişim <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
            <li class="<%if(session.sayfaEtiketi == 'Ayarlar'){%>active<%}%>"><a href="/sayfalar/ayarlar"><i class="mdi-action-settings left"></i>Ayarlar <i class="right mdi-hardware-keyboard-arrow-down"></i></a></li>
        </ul>
    </header>
