<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <h5>Kurumsal</h5>
                <div class="row">
                    <table class="bordered">
                        <thead>
                          <tr>
                              <th class="center-align" data-field="id">Vizyon</th>
                              <th class="center-align" data-field="id">Misyon</th>
                              <th class="center-align" data-field="id">Kalite Politikası</th>
                              <th class="center-align" data-field="id">Belge ve Sertifikalar</th>
                              <th class="center-align" data-field="id">Kurumsal Video</th>
                              <th class="center-align" data-field="id">Kurumsal Foto Galeri</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.kurumsal.hakkimizda.vizyon){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.kurumsal.hakkimizda.misyon){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.kurumsal.hakkimizda.kalitePolitikasi){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.kurumsal.icerik.belgeVeSertifikalar){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.kurumsal.icerik.kurumsalVideo){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.kurumsal.icerik.kurumsalFotoGaleri){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>

        <!---Ürünler--->
        <div class="col s12">
            <div class="card-panel">
                <h5>Ürünler, Hizmetler, Projeler, Üretim</h5>
                <div class="row">
                    <table class="bordered">
                        <thead>
                          <tr>
                              <th class="center-align" data-field="id">Ürünler</th>
                              <th class="center-align" data-field="id">Hizmetler</th>
                              <th class="center-align" data-field="id">Projeler</th>
                              <th class="center-align" data-field="id">Üretim</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.urunler){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.hizmetler){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.projeler){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.uretim){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>

        <!---Müşteri Hizmetleri--->
        <div class="col s12">
            <div class="card-panel">
                <h5>Müsteri Hizmetleri</h5>
                <div class="row">
                    <table class="bordered">
                        <thead>
                          <tr>
                              <th class="center-align" data-field="id">Öneri İstek Şikayet</th>
                              <th class="center-align" data-field="id">Sık Sorulan Sorular</th>
                              <th class="center-align" data-field="id">Bilgi Bankası</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.musteriHizmetleri.oneriIstekSikayet){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.musteriHizmetleri.sikSorulanSorular){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.musteriHizmetleri.bilgiBankasi){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>

        <!---Satış Noktaları, Fiyat Listesi, Haberler, Etkinlikler, Duyurular--->
        <div class="col s12">
            <div class="card-panel">
                <h5>Satış Noktaları, Fiyat Listesi, Haberler, Etkinlikler, Duyurular</h5>
                <div class="row">
                    <table class="bordered">
                        <thead>
                          <tr>
                              <th class="center-align" data-field="id">Satış Noktaları</th>
                              <th class="center-align" data-field="id">Fiyat Listesi</th>
                              <th class="center-align" data-field="id">Haberler</th>
                              <th class="center-align" data-field="id">Etkinlikler</th>
                              <th class="center-align" data-field="id">Duyurular</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.satisNoktalari){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.fiyatListesi){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.haberler){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.etkinlikler){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.duyurular){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>
        <!---Kariyer--->
        <div class="col s12">
            <div class="card-panel">
                <h5>Kariyer</h5>
                <div class="row">
                    <table class="bordered">
                        <thead>
                            <tr>
                                  <th class="center-align" data-field="id">İnsan Kaynakları Politikası</th>
                                  <th class="center-align" data-field="id">İş ve Staj</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.kariyer.ikPolitikasi){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.kariyer.isVeStaj){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>


                            </tr>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>
        <!---İletişim--->
        <div class="col s12">
            <div class="card-panel">
                <h5>İletişim</h5>
                <div class="row">
                    <table class="bordered">
                        <thead>
                            <tr>
                                  <th class="center-align" data-field="id">Adres ve Telefonlar</th>
                                  <th class="center-align" data-field="id">Google Map Kroki</th>
                                  <th class="center-align" data-field="id">İletişim Formu</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.iletisim.adresVeTelefonlar){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.iletisim.kroki){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>
                                <td class="center-align">
                                    <div class="switch">
                                        <label>Gizle
                                        <input type="checkbox" <%if(kurumsalIzinler.iletisim.iletisimFormu){%>checked<%}%>>
                                        <span class="lever"></span>
                                        Göster
                                        </label>
                                    </div>
                                </td>


                            </tr>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>
    </div>
</main>
<% include ../js/lib-js/masterPageScripts.js %>
