<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#vizyon">Vizyon</a></li>
                <li class="tab col s4"><a class="" href="#misyon">Misyon</a></li>
                <li class="tab col s4 "><a href="#kalite">Kalite Politikası</a></li>
            </ul>
        </div>
    </div>
    <div id="vizyon" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" ></textarea>
                                    <label for="text">Vizyon</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a class="waves-effect waves-light btn">Ekle</a>
                                </div>
                            </div>
                        </form>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="misyon" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" ></textarea>
                                    <label for="text">Misyon</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a class="waves-effect waves-light btn">Ekle</a>
                                </div>
                            </div>
                        </form>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="kalite" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" ></textarea>
                                    <label for="text">Kalite Politikası</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a class="waves-effect waves-light btn">Ekle</a>
                                </div>
                            </div>
                        </form>
                  </div>

                </div>
            </div>
        </div>
    </div>
</main>
<% include ../js/lib-js/masterPageScripts.js %>
