<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4"><a href="#vizyon">Vizyon</a></li>
                <li class="tab col s4"><a class="" href="#misyon">Misyon</a></li>
                <li class="tab col s4"><a href="#kalite">Kalite Politikası</a></li>
            </ul>
        </div>
    </div>
    <div id="vizyon" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form id="hakkimizdaForm" class="col s12" method="post" action="/hakkimizda/guncelle">
                           <input type="text" style="display:none;"  value="<%=hakkimizda._id%>" name="_id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea name="vizyon" placeholder="Vizyon"><%=hakkimizda.vizyon%></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <button class="waves-effect waves-light btn" type="submit">Kaydet</button>
                                </div>
                            </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="misyon" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea" name="misyon" placeholder="misyon"><%=hakkimizda.misyon%></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align">
                                <button class="waves-effect waves-light btn" type="submit">Kaydet</button>
                            </div>
                        </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="kalite" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" name="kalitePolitikasi" placeholder="Kalite politikası"><%=hakkimizda.kalitePolitikasi%></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <button class="waves-effect waves-light btn" type="submit">Kaydet</button>
                                </div>
                            </div>
                        </form>
                  </div>

                </div>
            </div>
        </div>
    </div>
</main>

<% include ../js/lib-js/masterPageScripts.js %>
<script src="../js/lib-js/hakkimizda.js"></script>
