<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4 <%if(!kurumsalIzinler.kurumsal.icerik.belgeVeSertifikalar){%>disabled<%}%>"><a class="active" href="#belge">Belge ve Sertifikalar</a></li>
                <li class="tab col s4 <%if(!kurumsalIzinler.kurumsal.icerik.kurumsalVideo){%>disabled<%}%>"><a class="" href="#video">Kurumsal Video</a></li>
                <li class="tab col s4 <%if(!kurumsalIzinler.kurumsal.icerik.kurumsalFotoGaleri){%>disabled<%}%>"><a href="#foto">Kurumsal Foto Galeri</a></li>
            </ul>
        </div>
    </div>
    <div id="belge" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12">
                           <div class="row">
                                <div class="input-field col s12">
                                      <input id="" type="text" class="validate" placeholder="Belge adı" <%if(!kurumsalIzinler.kurumsal.icerik.belgeVeSertifikalar){%>disabled<%}%>>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 offset-m3 no-padding">
                                    <div class="card-panel">
                                          <div class="">
                                              <table class="">
                                                    <tbody>
                                                        <tr>
                                                            <td class="center-align">
                                                                <div class="" style="padding:0">
                                                                    <div class="" style="padding:0">
                                                                        <div class="card-image">
                                                                            <img id="" width="100%" height="130px;" class="materialboxed" src="/images/default.png">
                                                                        </div>
                                                                        <div class="card-action ">
                                                                            <a href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12 no-padding">
                                      <form id="" action="" enctype="multipart/form-data" method="post">
                                        <div class="col s11">
                                            <div class="file-field input-field">
                                                <input placeholder="ürün ust resim sec" class="file-path validate" type="text"/>
                                                <input id="" type="file" name=""/>
                                            </div>
                                        </div>
                                        <div class="col s1">
                                            <div class="input-field">
                                                <button type="submit" id="" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                            </div>
                                        </div>
                                      </form>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a class="waves-effect waves-light btn" <%if(!kurumsalIzinler.kurumsal.icerik.belgeVeSertifikalar){%>disabled<%}%>>Ekle</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Belge Adı</th>
                                  <th data-field="item_name">Görsel</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Belge 1</td>
                                    <td>
                                        <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                    </td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="video" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12">
                           <div class="row">
                                <div class="input-field col s12">
                                      <input id="" type="text" class="validate" placeholder="Video adı" <%if(!kurumsalIzinler.kurumsal.icerik.kurumsalVideo){%>disabled<%}%>>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                      <input id="" type="text" class="validate" placeholder="Youtube linki" <%if(!kurumsalIzinler.kurumsal.icerik.kurumsalVideo){%>disabled<%}%>>
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a class="waves-effect waves-light btn" <%if(!kurumsalIzinler.kurumsal.icerik.kurumsalVideo){%>disabled<%}%>>Ekle</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Video Adı</th>
                                  <th data-field="item_name">Youtube Linki</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Video 1</td>
                                    <td>https://www.youtube.com/watch?v=miJ783OlheE</td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="foto" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12">
                           <div class="row">
                                <div class="input-field col s12">
                                      <input id="" type="text" class="validate" placeholder="Foto adı" <%if(!kurumsalIzinler.kurumsal.icerik.kurumsalFotoGaleri){%>disabled<%}%>>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12 no-padding">
                                    <div class="card-panel">
                                          <div class="">
                                              <table class="">
                                                    <tbody id="">
                                                        <tr>
                                                            <td class="center-align">
                                                              <div class="" style="padding:0">
                                                                  <div class="card-image">
                                                                      <img id="" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="http://placehold.it/250x250" style="min-height:130px;max-height:130px; width:130px;">
                                                                  </div>
                                                                  <div class="card-action ">
                                                                      <a id="" href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                                  </div>
                                                              </div>
                                                            </td>
                                                            <td class="center-align">
                                                              <div class="" style="padding:0">
                                                                  <div class="card-image">
                                                                      <img id="" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="http://placehold.it/250x250" style="min-height:130px;max-height:130px; width:130px;">
                                                                  </div>
                                                                  <div class="card-action ">
                                                                      <a id="" href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                                  </div>
                                                              </div>
                                                            </td>
                                                            <td class="center-align">
                                                              <div class="" style="padding:0">
                                                                  <div class="card-image">
                                                                      <img id="" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="http://placehold.it/250x250" style="min-height:130px;max-height:130px; width:130px;">
                                                                  </div>
                                                                  <div class="card-action ">
                                                                      <a id="" href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                                  </div>
                                                              </div>
                                                            </td>
                                                            <td class="center-align">
                                                              <div class="" style="padding:0">
                                                                  <div class="card-image">
                                                                      <img id="" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="http://placehold.it/250x250" style="min-height:130px;max-height:130px; width:130px;">
                                                                  </div>
                                                                  <div class="card-action ">
                                                                      <a id="" href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                                  </div>
                                                              </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m12 no-padding">
                                      <form id="" action="" enctype="multipart/form-data" method="post">
                                        <div class="col s11">
                                            <div class="file-field input-field">
                                                <input placeholder="ürün fotolarını sec" class="file-path validate" type="text"/>
                                                <input id="" type="file" name=""/>
                                            </div>
                                        </div>
                                        <div class="col s1">
                                            <div class="input-field">
                                                <button type="submit" id="" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                            </div>
                                        </div>
                                      </form>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="right-align">
                                    <a class="waves-effect waves-light btn" <%if(!kurumsalIzinler.kurumsal.icerik.kurumsalFotoGaleri){%>disabled<%}%>>Ekle</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Foto Adı</th>
                                  <th data-field="item_name">Görsel</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Belge 1</td>
                                    <td>
                                        <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                    </td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
</main>
<% include ../js/lib-js/masterPageScripts.js %>
