<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6 <%if(!kurumsalIzinler.kariyer.ikPolitikasi){%>disabled<%}%>"><a href="#ik">İK Politikası</a></li>
                <li class="tab col s6 <%if(!kurumsalIzinler.kariyer.isVeStaj){%>disabled<%}%>"><a class="" href="#is_ve_staj">İş ve Staj </a></li>
            </ul>
        </div>
    </div>
    <div id="ik" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="row">
                            <div class="col s12">
                                <form action="#">
                                    <div class="file-field input-field">
                                        <input placeholder="resim seç" class="file-path validate" type="text"/>
                                        <div class="btn">
                                            <span>Dosya Yükle</span>
                                            <input type="file" <%if(!kurumsalIzinler.kariyer.ikPolitikasi){%>disabled<%}%>/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea" <%if(!kurumsalIzinler.kariyer.ikPolitikasi){%>disabled<%}%>></textarea>
                                <label for="text">Açıklama</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align">
                                <a class="waves-effect waves-light btn" <%if(!kurumsalIzinler.kariyer.ikPolitikasi){%>disabled<%}%>>Ekle</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="item_name">Resim</th>
                                  <th data-field="item_name">Açıklama</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                    </td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="is_ve_staj" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                                <tr>
                                      <th data-field="id" style="width:50px;">#</th>
                                      <th data-field="item_name">Ad Soyad</th>
                                      <th data-field="name">GSM</th>
                                      <th data-field="item_name">Mail</th>
                                      <th data-field="item_name">Başvuru Tipi</th>
                                      <th data-field="item_name">Detay</th>
                                      <th data-field="item_name">CV</th>
                                      <th data-field="operation" style="width:180px;">İşlemler</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sinan BORA</td>
                                    <td>544 444 44 44</td>
                                    <td>sinanbora@gmail.com</td>
                                    <td>İş</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</td>
                                    <td>
                                        <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                    </td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>


</main>
<% include ../js/lib-js/masterPageScripts.js %>
