<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s4 <%if(!kurumsalIzinler.musteriHizmetleri.oneriIstekSikayet){%>disabled<%}%>"><a href="#oneri">Öneri İstek Şikayet</a></li>
                <li class="tab col s4 <%if(!kurumsalIzinler.musteriHizmetleri.sikSorulanSorular){%>disabled<%}%>"><a class="" href="#sorular">Sık Sorulan Sorular</a></li>
                <li class="tab col s4 <%if(!kurumsalIzinler.musteriHizmetleri.bilgiBankasi){%>disabled<%}%>"><a href="#bilgi">Bilgi Bankası</a></li>
            </ul>
        </div>
    </div>
    <div id="oneri" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Form Tipi</th>
                                  <th data-field="item_name">Konu</th>
                                  <th data-field="item_name">Detay</th>
                                  <th data-field="item_name">Ad Soyad</th>
                                  <th data-field="item_name" style="width:150px;">GSM</th>
                                  <th data-field="item_name" style="width:150px;">Mail</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Öneri</td>
                                    <td>Konu 1</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</td>
                                    <td>Sinan BORA</td>
                                    <td>544 444 44 44</td>
                                    <td>sinanbora@gmail.com</td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="sorular" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                       <div class="row">
                            <div class="input-field col m12">
                                  <input id="" type="text" class="validate" placeholder="Soru" <%if(!kurumsalIzinler.musteriHizmetleri.sikSorulanSorular){%>disabled<%}%>>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea" placeholder="Cevap" <%if(!kurumsalIzinler.musteriHizmetleri.sikSorulanSorular){%>disabled<%}%>></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align">
                                <a class="waves-effect waves-light btn" <%if(!kurumsalIzinler.musteriHizmetleri.sikSorulanSorular){%>disabled<%}%>>Ekle</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Soru</th>
                                  <th data-field="item_name">Açıklama</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Soru 1</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <div id="bilgi" class="col s12" style="padding:0;">
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="col m11" style="padding:0">
                           <div class="row">
                               <div class="input-field">
                                   <select class="browser-default">
                                      <option value="" disabled selected>Kategori Seç</option>
                                      <option value="1">Option 1</option>
                                      <option value="2">Option 2</option>
                                      <option value="3">Option 3</option>
                                    </select>
                               </div>
                           </div>
                       </div>
                       <div class="col m1">
                           <div class="col m6 no-padding">
                              <div class="" style="">
                                  <div class="input-field">
                                      <a id=""  class="btn btn-floating red tooltipped "  data-position="top" data-delay="50" data-tooltip="Secili ogeyi sil"><i class="mdi-action-delete"></i></a>
                                  </div>
                              </div>

                          </div>
                          <div class="col m6 no-padding">
                              <div class="" style="">
                                  <div class="input-field">
                                      <a id="" href="#modal_bilgikategoriekle"  class="btn btn-floating green tooltipped modal-trigger"  data-position="top" data-delay="50" data-tooltip="Kategori ekle"><i class="mdi-image-exposure-plus-1"></i></a>
                                  </div>
                              </div>
                              <!--modal-->
                              <div id="modal_bilgikategoriekle" class="modal bottom-sheet">
                                <div class="modal-content">
                                    <h5 class="left-align">Kategori Ekle</h5>
                                    <div class="row">
                                      <div class="col m12">
                                          <div class="input-field col m10">
                                            <input id="" type="text" class="validate" placeholder="kategori adı">
                                          </div>
                                          <div class="input-field col m2">
                                              <a id="" class="waves-effect waves-light btn" style="width:100%">Ekle</a>
                                          </div>
                                      </div>
                                  </div>

                                </div>
                                <div class="modal-footer">
                                  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Kapat</a>
                                </div>
                              </div>

                          </div>

                        </div>
                        <!--sdsdsd--->
                        <div class="row">
                              <div class="col m6 no-padding">
                                  <div class="card-panel">
                                      <div class="">
                                          <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="center-align">
                                                            <div class="" style="padding:0">
                                                                <div class="" style="padding:0">
                                                                    <div class="card-image">
                                                                        <img id="" width="100%" height="130px;" class="materialboxed" src="http://placehold.it/250x250">
                                                                    </div>
                                                                    <div class="card-action ">
                                                                        <a href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                  </div>
                              </div>
                              <div class="col m6 ">
                                  <div class="card-panel">
                                      <div class="">
                                          <table class="">
                                                <tbody id="">
                                                    <tr>
                                                        <td class="center-align">
                                                          <div class="" style="padding:0">
                                                              <div class="card-image">
                                                                  <img id="" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="http://placehold.it/250x250" style="min-height:130px;max-height:130px; width:130px;">
                                                              </div>
                                                              <div class="card-action ">
                                                                  <a id="" href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                              </div>
                                                          </div>
                                                        </td>
                                                        <td class="center-align">
                                                          <div class="" style="padding:0">
                                                              <div class="card-image">
                                                                  <img id="" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="http://placehold.it/250x250" style="min-height:130px;max-height:130px; width:130px;">
                                                              </div>
                                                              <div class="card-action ">
                                                                  <a id="" href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                              </div>
                                                          </div>
                                                        </td>
                                                        <td class="center-align">
                                                          <div class="" style="padding:0">
                                                              <div class="card-image">
                                                                  <img id="" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="http://placehold.it/250x250" style="min-height:130px;max-height:130px; width:130px;">
                                                              </div>
                                                              <div class="card-action ">
                                                                  <a id="" href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                              </div>
                                                          </div>
                                                        </td>
                                                        <td class="center-align">
                                                          <div class="" style="padding:0">
                                                              <div class="card-image">
                                                                  <img id="" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="http://placehold.it/250x250" style="min-height:130px;max-height:130px; width:130px;">
                                                              </div>
                                                              <div class="card-action ">
                                                                  <a id="" href="Javascript:void(0)" class="" style="color:red">Sil</a>
                                                              </div>
                                                          </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col m6 no-padding">
                                  <form id="" action="" enctype="" method="post">
                                    <div class="col s11">
                                        <div class="file-field input-field">
                                            <input placeholder="ürün ust resim sec" class="file-path validate" type="text"/>
                                            <input id="" type="file" name=""/>
                                        </div>
                                    </div>
                                    <div class="col s1">
                                        <div class="input-field">
                                            <button type="submit" id="" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                        </div>
                                    </div>
                                  </form>
                              </div>
                              <div class="col m6">
                                  <form id="" action="" enctype="multipart/form-data" method="post">
                                    <div class="col s11">
                                        <div class="file-field input-field">
                                            <input placeholder="ürün resimleri secin" class="file-path validate" type="text"/>
                                            <input id="" type="file" name="" multiple/>
                                        </div>
                                    </div>
                                    <div class="col s1">
                                        <div class="input-field">
                                            <button type="submit" id="" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                        </div>
                                    </div>
                                  </form>
                              </div>
                          </div>
                        <!--sdsdsd--->
                        <div class="row">
                            <div class="input-field col m12">
                                  <input id="" type="text" class="validate" placeholder="Video linki">
                            </div>
                        </div>
                        <div class="row">
                            <div class="right-align">
                                <a class="waves-effect waves-light btn" <%if(!kurumsalIzinler.musteriHizmetleri.bilgiBankasi){%>disabled<%}%>>Ekle</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Kategori Adı</th>
                                  <th data-field="item_name">Üst Resim</th>
                                  <th data-field="item_name">Açıklama</th>
                                  <th data-field="item_name" style="width:150px;">Foto Galeri</th>
                                  <th data-field="item_name" >Video Linki</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Ana Kategori 1</td>
                                    <td>
                                        <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                    </td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</td>
                                    <td>
                                        <div class="" style="padding:0">
                                            <div class="col s6" style="padding:0">
                                                <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                            </div>
                                            <div class="col s6" style="padding:0">
                                                <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                            </div>

                                        </div>
                                    </td>
                                    <td>https://www.youtube.com/watch?v=miJ783OlheE</td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>

</main>
<% include ../js/lib-js/masterPageScripts.js %>
