<% include ../partial-pages/master.ejs %>
<main>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                   <div class="row">
                        <div class="input-field col m12 no-padding">
                            <select class="browser-default">
                              <option value="" disabled selected>Proje Durumu Seç</option>
                              <option value="1">Devam eden projeler</option>
                              <option value="2">Tamamlanan Projeler</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col m6 no-padding">
                                  <div class="card-panel">
                                      <div class="">
                                          <table class="">
                                                <tbody>
                                                    <tr>
                                                        <td class="center-align">
                                                            <div class="" style="padding:0">
                                                                <div class="" style="padding:0">
                                                                    <div class="card-image">
                                                                        <img id="imgUstResim" width="100%" height="130px;" class="materialboxed" src="/images/default.png">
                                                                    </div>
                                                                    <div class="card-action ">
                                                                        <a href="Javascript:void(0)" class="ustResimSil" style="color:red">Sil</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                  </div>
                              </div>
              <div class="col m6 ">
                  <div class="card-panel">
                      <div class="">
                          <table class="">
                                <tbody id="tabloGaleri">
                                    <tr>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim0" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil0" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim1" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil1" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim2" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil2" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                        <td class="center-align">
                                          <div class="" style="padding:0">
                                              <div class="card-image">
                                                  <img id="resim3" class="responsive-img materialboxed" width="130px" min-height="130px" max-height="130px" src="/images/default.png" style="min-height:130px;max-height:130px; width:130px;">
                                              </div>
                                              <div class="card-action ">
                                                  <a id="sil3" href="Javascript:void(0)" class="resimSil" style="color:red">Sil</a>
                                              </div>
                                          </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                  </div>
              </div>
                      </div>
                      <div class="row">
                          <div class="col m6 no-padding">
                              <form id="formUstResim" action="/yukle/medyayukle" enctype="multipart/form-data" method="post">
                                    <div class="col s11">
                                        <div class="file-field input-field">
                                            <input placeholder="ürün ust resim sec" class="file-path validate ustResim" type="text"/>
                                            <input id="inpUstResim" type="file" name="medyaListesi"/>
                                        </div>
                                    </div>
                                    <div class="col s1">
                                        <div class="input-field">
                                            <button type="submit" id="btnUstResimYukle" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                        </div>
                                    </div>
                                  </form>
                          </div>
                          <div class="col m6">
                              <form id="formMedya" action="/yukle/medyayukle" enctype="multipart/form-data" method="post">
                                <div class="col s11">
                                    <div class="file-field input-field">
                                        <input placeholder="ürün resimleri secin" class="file-path validate resim"  type="text"/>
                                        <input id="inpMedya" type="file" name="medyaListesi" multiple/>
                                    </div>
                                </div>
                                <div class="col s1">
                                    <div class="input-field">
                                        <button type="submit" id="btnFotoYukle" class="btn btn-floating blue tooltipped"  data-position="top" data-delay="50" data-tooltip="Secili ogeyi yukle"><i class="mdi-file-cloud-upload"></i></button>
                                    </div>
                                </div>
                              </form>
                          </div>
                      </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" placeholder="Açıklama"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="right-align">
                            <a class="waves-effect waves-light btn">Ekle</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <table class="bordered">
                        <thead>
                          <tr>
                              <th data-field="id" style="width:50px;">#</th>
                              <th data-field="name">Proje Durumu</th>
                              <th data-field="item_name">Ana Resim</th>
                              <th data-field="item_name">Açıklama</th>
                              <th data-field="item_name" style="width:150px;">Foto Galeri</th>
                              <th data-field="operation" style="width:180px;">İşlemler</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ana Kategori 1</td>
                                <td>
                                    <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</td>
                                <td>
                                    <div class="" style="padding:0">
                                        <div class="col s6" style="padding:0">
                                            <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                        </div>
                                        <div class="col s6" style="padding:0">
                                            <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                        </div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    <button class="btn btn-floating green tooltipped"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>
    </div>
</main>
<% include ../js/lib-js/masterPageScripts.js %>
