<% include ../partial-pages/master.ejs %>
<main>
    <div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                       <div class="row">
                            <div class="input-field col m6">
                                <select class="browser-default">
                                  <option value="" disabled selected>Bayi \ Servisler Seç</option>
                                  <option value="1">Bayi</option>
                                  <option value="2">Servisler</option>
                                  <option value="3">Bayi ve Servisler</option>
                                </select>
                            </div>
                            <div class="input-field col m6">
                                <select class="browser-default">
                                  <option value="" disabled selected>Ülke Seç</option>
                                  <option value="1">Türkiye</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m6">
                                <select class="browser-default">
                                  <option value="" disabled selected>İl Seç</option>
                                  <option value="1">İzmir</option>
                                  <option value="2">İstanbul</option>
                                  <option value="3">Ankara</option>
                                </select>
                            </div>
                            <div class="input-field col m6">
                                <select class="browser-default">
                                  <option value="" disabled selected>İlçe Seç</option>
                                  <option value="1">Buca</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12">
                                  <input id="" type="text" class="validate">
                                  <label for="">Bayi Adı</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12">
                                  <input id="" type="text" class="validate">
                                  <label for="">Bayi Adresi</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12">
                                  <input id="" type="number" class="validate">
                                  <label for="">Telefon</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12">
                                  <input id="" type="number" class="validate">
                                  <label for="">Fax</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12">
                                  <input id="" type="email" class="validate">
                                  <label for="">E-mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12">
                                  <input id="" type="text" class="validate">
                                  <label for="">Web</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea" ></textarea>
                                <label for="text">Açıklama</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="right-align">
                                <a class="waves-effect waves-light btn">Ekle</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <table class="bordered">
                            <thead>
                              <tr>
                                  <th data-field="id" style="width:50px;">#</th>
                                  <th data-field="name">Bayi</th>
                                  <th data-field="item_name">İl</th>
                                  <th data-field="item_name">İlçe</th>
                                  <th data-field="item_name">Ad</th>
                                  <th data-field="item_name">Adres</th>
                                  <th data-field="item_name">Telefon</th>
                                  <th data-field="item_name">Fax</th>
                                  <th data-field="item_name">Mail</th>
                                  <th data-field="item_name">Web</th>
                                  <th data-field="operation" style="width:180px;">İşlemler</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Bayi</td>
                                    <td>İzmir</td>
                                    <td>Buca</td>
                                    <td>Bayi 1</td>
                                    <td>Adressssss 1</td>
                                    <td>544 444 44 44</td>
                                    <td>544 444 44 44</td>
                                    <td>sinanbora@gmail.com</td>
                                    <td>https://www.mavikentbilisim.com</td>
                                    <td>
                                        <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                        <button class="btn btn-floating green tooltipped"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                  </div>

                </div>
            </div>
        </div>
    </div>
    
</main>
<% include ../js/lib-js/masterPageScripts.js %>

