<% include ../partial-pages/master.ejs %>
<main>
    <input id="kullaniciKodu" style="display:none;" value="<%=session.kullanici.kullaniciKodu%>">
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                 <div class="row">
                     <div class="col m6">
                          <h6 style="font-size:20px" class="center-align">Ürün Ekle</h6>
                          <div class="row">
                              <div class="input-field ">
                                  <select id="anaKategoriListesi" class="browser-default">
                                    <option value="" disabled selected>Ana Kategori Seç</option>
                                    <%for(var i = 0; i < urunKategorileri.length; i++){%>
                                      <option data="<%=urunKategorileri[i]._id%>" value="<%=urunKategorileri[i].anaKategori%>"><%=urunKategorileri[i].anaKategori%></option>
                                    <%}%>
                                  </select>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="input-field">
                                  <select name="" id="" class="browser-default">
                                      <option value="" disabled selected>Alt kategori seç</option>
                                      <option value="">1</option>
                                      <option value="">2</option>
                                  </select>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col s12">
                                  <form action="#">
                                      <div class="file-field input-field">
                                          <input placeholder="ürün üst resmi seç" class="file-path validate" type="text"/>
                                          <div class="btn">
                                              <span>Dosya Yükle</span>
                                              <input type="file" />
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col s12">
                                  <textarea class="materialize-textarea" ></textarea>
                                  <label for="text">Açıklama</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col s12">
                                  <form action="#">
                                      <div class="file-field input-field">
                                          <input placeholder="dosya seç" class="file-path validate" type="text"/>
                                          <div class="btn">
                                              <span>Dosya Yükle</span>
                                              <input type="file" />
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                     </div>
                     <div class="col m6">
                         <h6 style="font-size:20px" class="center-align">Ürün Kategori Düzenle</h6>
                         <div class="row">
                              <div class="input-field col m8">
                                    <input id="inpAnaKategori" type="text" class="validate">
                                    <label for="">Ana Kategori Adı</label>
                              </div>
                              <div class="input-field col m4">
                                  <a id="btnAnaKategoriEkle" class="waves-effect waves-light btn">Ana Kategori Ekle</a>
                              </div>
                          </div>
                          <div class="row">
                              <div class="input-field col m8">
                                    <input id="inpAltKategori" value="" id="" type="text" class="validate">
                                    <label for="">Alt Kategori Adı</label>
                              </div>
                              <div class="input-field col m4">
                                  <a id="btnAltKategoriEkle" class="waves-effect waves-light btn ">Alt Kategori Ekle</a>
                              </div>
                          </div>
                     </div>
                  </div>
                  <div class="row">
                     
                      <div class="row">
                          <div class="right-align">
                              <a class="waves-effect waves-light btn">Ekle</a>
                          </div>
                      </div>
                  </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <table class="bordered">
                        <thead>
                          <tr>
                              <th data-field="id" style="width:50px;">#</th>
                              <th data-field="name">Ana Kategori</th>
                              <th data-field="item_name">Alt Kategori</th>
                              <th data-field="item_name">Üst Resim</th>
                              <th data-field="item_name">Açıklama</th>
                              <th data-field="item_name" style="width:150px;">Foto Galeri</th>
                              <th data-field="operation" style="width:180px;">İşlemler</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ana Kategori 1</td>
                                <td>Alt Kategori 1</td>
                                <td>
                                    <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</td>
                                <td>
                                    <div class="" style="padding:0">
                                        <div class="col s6" style="padding:0">
                                            <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                        </div>
                                        <div class="col s6" style="padding:0">
                                            <img class="responsive-img materialboxed" width="50px" height="50px" src="http://placehold.it/250x250" style="height:50px; width:50px;">
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-floating red tooltipped"  data-position="top" data-delay="50" data-tooltip="Sil"><i class="mdi-action-delete"></i></button>
                                    <button class="btn btn-floating green tooltipped"  data-position="top" data-delay="50" data-tooltip="Değiştir"><i class="mdi-av-replay"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
              </div>

            </div>
        </div>
    </div>
</main>
<script src="../js/lib-js/urunler-js.js"></script>
<% include ../js/lib-js/masterPageScripts.js %>
