<% include ../partial-pages/master.ejs %>
<style>
    .shape{
        border-style: solid;
        border-width: 0 80px 80px 0;
        float:right;
        height: 0px;
        width: 0px;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .shape-text{
        color:#fff;
        font-size:18px;
        font-weight:bold;
        position:relative;
        right:-40px;
        top:1px;
        white-space: nowrap;
        -ms-transform:rotate(30deg); /* IE 9 */
        -o-transform: rotate(360deg);  /* Opera 10.5 */
        -webkit-transform:rotate(46deg); /* Safari and Chrome */
        transform:rotate(46deg);
    }
    .shape{
        border-color: rgba(255,255,255,0) #4bc1dd rgba(255,255,255,0) rgba(255,255,255,0);
    }

</style>
<main>
    <div class="row">
        <div class="col s12">
            <div class="card-panel" style="padding:0;">
                <div class="shape">
                    <div class="shape-text">Liste</div>
                </div>
                <div class="row" >
                    <div class="row" style="height:50px;"></div>
                    <div class="input-field col s5">
                          <div class="row">
                              <span style="font-size:16px;">Mobile Uygulama Versiyonu</span>
                          </div>
                          <div class="row">
                              <input disabled type="text" class="validate" name="tel1" value="<%=versiyon.mobilVersiyon%>">
                          </div>
                    </div>
                    <div class="input-field col s5">
                          <div class="row">
                              <span style="font-size:16px;">Yeni Version</span>
                          </div>
                          <div class="row">
                              <%var yeniVersiyon = parseFloat(versiyon.mobilVersiyon) + 1%>
                              <input disabled type="text" class="validate" name="tel1" value="<%=yeniVersiyon%>">
                          </div>
                    </div>
                    <div class="input-field col s2">
                         <div class="row" style="margin-top:20px;"></div>
                         <div class="row">
                             <button id="btnGuncelle" type="submit" class="waves-effect waves-light btn" style="width:100%;">Güncelle</button>
                         </div>
                          
                    </div>
                    <div class="row" style="margin-bottom:50px;"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
  $(document).ready(function() {
    $("#btnGuncelle").on("click", function() {
      wsGet("/versiyon/versiyonguncelle",function(err,res){
          if(err){
              console.error(err);
              return;
          }
          alertify.success("işleminiz başarı ile gerçekleşmistir.");
          location.reload();
      });
    })
  })
</script>
<% include ../js/lib-js/masterPageScripts.js %>
